/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


#frame {
     background-color: black;
     height: 625px;
     width: 400px;
     margin: auto;
     margin-top: 100px;
     border-radius: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

#display {
     background-color: white;
     height: 75px;
     width: 300px;
     margin-top: 75px;
     font-size: 75px;
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
     font-weight: bold;
}

#keypad {
     height: 370px;
     width: 300px;
     display: grid;
     grid-template-rows: repeat(5, 1fr);
     grid-template-columns: repeat(4, 1fr);
}

.button {
     background-color: white;
     height: 66px;
     width: 66px;
     margin: auto;
     border-radius: 33px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
}
     

.button.zero,
.button.clear {
     grid-column: 1/3;
     height: 66px;
     width: 135px;
     margin: auto;
     border-radius: 33px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
}

.fadeAnimation {
     background-color: rgb(114, 99, 99);
     animation: fadeInOut .1s linear both;
}

.activeColor {
     background-color: yellow;
}
